<%@businesses.each do |business| %>
  <%= business.name %>
  <%= business.address %>
  <%= business.description %>
  <%= business.latitude %>
  <%= business.longitude %>
  <% end %>
<div class="contanier">
<%=render "shared/map" %>
</div>
