
<div class="page-show">
  <div class="round-basket">
  </div>
  <% @basket = Basket.where(business_id: @business.id).first %>
  <div class="basket-button-container">
    <%= link_to :back, class: "basket-back-button" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>

    <% if Favourit.exists?(basket_id: @basket.id) %>
      <div class="round-basket">
        <a class="heart-basket" href="<%= favourit_destroy_path(@basket.id) %>">
          <i class="fa-solid fa-heart"></i>
        </a>
      </div>
    <% else %>
      <div class="round-basket">
        <a class="heart-basket" href="<%= favourit_new_path(@basket.id) %>">
          <i class="fa-regular fa-heart"></i>
        </a>
      </div>
    <% end %>

  </div>

  <div class="basket-button-container">
    <%= link_to :back, class: "basket-back-button" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="banner">

      <%= image_tag(@business.image_url, alt: @business.name, class:"img") if @business.image_url.present?%>

  </div>

   <%@rating = 0%>
          <%
=begin%>
 <% @basket = Basket.where(business_id: @business.id).first %>
<%
=end%>
          <% @review =  Review.where(business_id: @business.id).all%>
          <%@review.each do |reve|%>
          <% @rating =  @rating + reve.rating%>
          <%end%>


  <div class="basket-description">
    <div class="container-title-price">
      <h1 style="margin-top: 10px"><%= @business.name %></h1>
      <div class="basket-price">
        <h2><%= @baskets.price %>MUR</h2>
      </div>
    </div>
    <div class="basket-infos">
      <span><i class="fa-solid fa-star"></i><%=(@rating/@review.count).round(1)%></span>
      <span><i class="fa-solid fa-basket-shopping"></i>Panier suprise</i></span>
      <span><i class="fa-solid fa-clock"></i>À récupérer aujourd'hui 16h-20h</span>
         <span>
      <i class="fa-solid fa-location-dot">
      <p></p>
      </i> <%= @business.address%></span>
    </div>

    <%
=begin%>
 <div class="container-address">
      <span>
      <i class="fa-solid fa-location-dot">
      <p></p>
      </i> <%= @business.address%></span>
    </div>
<%
=end%>



    <div class="container-low">
      <h1>Ce que vous pouvez avoir</h1>
      <p><%= @baskets.description %></p>
    </div>

    <%if @check == false%>
      <a href="<%= cart_new_path(@baskets.id) %>" class="surprise-button">Réserver</a>
    <%else%>
      <h1>Reservé</h1>
    <%end%>
  </div>
</div>
