<h3 class="fa-solid fa-heart"> Your favorits </h3>
<% if current_user %>
<% @favourites.each do |fav| %>
  <% @fav_bask = Basket.where(id: fav.basket_id) %>
  <% @fav_bask.each do |bask| %>
  <%@bus = Business.where(id: bask.business_id).first%>
  <div class="main-container">
  <div class="card-trip">
            <a href="<%= basket_path(bask.id) %>"></a>
            <span></span>
            <div class="card-trip-infos">
              <div>
                <h1 class="card_title"><%= @bus.name %></h1>
                <a href="<%= basket_path(bask.id) %>">Panier Surprise</a>
                <p> À récupérer aujourd'hui <%= bask.pickup.strftime("%H") %></p>
              </div>
              <div class="round">
                <a class="heart" href="<%= favourit_new_path(bask.id) %>">
                  <i class="fa-regular fa-heart"></i>
                </a>
              </div>
            </div>
            <div class="card-trip-infos pt-0">
              <div>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <h2><%= bask.price %> MUR</h2>
            </div>
          </div>
</div>
  <% end %>
<% end %>
<% else %>
  <% unless current_user %>
  <p> You need to be logged in to see your favourites </p>
<% end %>


  <%
=begin%>
 <div class="login">
    <!-- Link to Devise default login page -->
    <a href="<%= new_user_session_path %>" class="login-link">Login</a>
  </div>
<%
=end%>
<% end %>
