<div class="container">
  <%# Localisation %>
    <p><i class="fa-solid fa-location-dot"></i> Port louis </p>
    <p>À moins de 10km</p>

  <%# Search Bar %>
  <div class="container-search home">
    <div class="">
      <div class="search-field">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search">
          <%# <span class="left-pan"><i class="fa fa-microphone"></i></span> %>
        </div>
      </div>
    </div>
  </div>

  <%# Categories buttons %>

    <div class="round-button"><i class="fas fa-home"></i></div>
    <div class="round-button"><i class="fas fa-bell"></i></div>
    <div class="round-button"><i class="fas fa-cog"></i></div>

  <%# Cards %>
  <p class="text-start">Recommended for you</p>

  <%@businesses.each do |business|%>
  <%@basket = Basket.where(business_id: business.id).first%>

<div class="main-container">

  <div class="card-trip">
    <%= image_tag(business.image_url, alt: business.name) if business.image_url.present? %>
    <span>
    </span>
    <div class="card-trip-infos">
      <div>
        <a  href="<%= basket_path(@basket.id) %>" >Surprise basket</a>
        <p> <%=@basket.availability%></p>
      </div>
        <div class="business-name">
          <span><%=business.name%></span>
        </div>
        <div class="round-logo"></div>
      <a href="<%= favourit_new_path(@basket.id) %>">
  <i class="fa-solid fa-heart"></i>
</a>
    </div>
    <div class="card-trip-infos pt-0">
          <div>
            <span><i class="fa-solid fa-star"></i> </span>
          </div>
          <h2><%=@basket.price%></h2>
        </div>
    </div>
  </div>

  <%end%>
</div>


  <p class="text-start">Save before it's too late</p>
