<div class="container">
  <!-- Localisation -->
  <p><i class="fa-solid fa-location-dot"></i> Port Louis <i class="fa-solid fa-chevron-down"></i></p>
  <p>À moins de 10km</p>

  <!-- Search Bar -->
  <div class="container-search home">
    <div class="search-field">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Recherche">
      </div>
    </div>
  </div>

<div class="category-buttons">
  <%= link_to category_path("restaurant"), class: "category-button" do %>
    <i class="fas fa-utensils"></i> <!-- Font Awesome icon for Restaurant -->
  <% end %>

  <%= link_to category_path("Bakery"), class: "category-button" do %>
    <i class="fas fa-birthday-cake"></i> <!-- Font Awesome icon for Bakery -->

  <% end %>

  <%= link_to category_path("supermarket"), class: "category-button" do %>
    <i class="fas fa-shopping-cart"></i> <!-- Font Awesome icon for Supermarket -->
  <% end %>
</div>




  <div class="save-section">

  <P></P>
    <p>fOR YOU 💖 </p>

    <div class="main-container">

      <div class="horizontal-scroll-container">
        <% @businesses.each do |business| %>
          <% @basket = Basket.where(business_id: business.id).first %>
           <div class="card-trip"> <a href="<%= basket_path(@basket.id) %>"></a>
            <%= image_tag(business.image_url, alt: business.name) if business.image_url.present? %>
            <span>
            </span>
            <div class="card-trip-infos">
              <div>
                <h1 class="card_title"><%=business.name%></h1>
                <a  href="<%= basket_path(@basket.id) %>" >Panier Surprise</a>
                <p> À récupérer aujourd'hui <%=@basket.pickup.strftime("%H")%></p>
              </div>
              <div class="round">
                <a class="heart" href="<%= favourit_new_path(@basket.id) %>">
                  <i class="fa-regular fa-heart"></i>
                </a>
              </div>
            </div>
            <div class="card-trip-infos pt-0">
                  <div>
                    <span><i class="fa-solid fa-star"></i>
                  </div>
                  <h2><%=@basket.price%> MUR</h2>
                </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</div>
</div>
